* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

:root {
  --bg-img: url('img/img1.jpg');
  --second-img: url('img/img2.jpg');
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 239, 15);
  flex-wrap: wrap;
}

.img-slider {
  width: 800px;
  position: relative;
}

.img-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 400px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid rgb(29, 29, 29);
}

.img-container .span {
  position: relative;
  width: 50px;
  height: 50px;
  background: #fff;
  transform-origin: top left;
}

.img-container .span {
  background-image: var(--bg-img);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  25%,
  40% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    background-image: var(--second-img);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
}

.btn-container {
  width: 100%;
  position: absolute;
  bottom: -60px;
  display: flex;
  justify-content: center;
  height: 40px;
}

.btn {
  width: 150px;
  height: 100%;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  text-transform: capitalize;
  color: rgb(19, 19, 19);
  text-decoration: underline;
  transition: 0.5s;
}

.btn:hover {
  background: rgb(19, 19, 19);
  color: #fff;
}

.index {
  position: absolute;
  font-size: 50px;
  right: 0;
  bottom: 0;
  color: #fff;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 10px;
  padding: 10px;
  font-family: sans-serif;
}
